services:
  - type: web
    name: textcat-prometheus
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: ./
    plan: free
    region: singapore
    envVars:
      - key: PORT
        value: 9090
    healthCheckPath: /-/healthy
