global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "textcat-app-local"
    static_configs:
      - targets: ["host.docker.internal:5000"]  # Access host machine
    metrics_path: "/metrics"
    scrape_interval: 5s
